/* Entire body */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff; }

/* Breadcrumbs on top of pages */
.breadcrumbs {
  font-size: 12px;
  margin-bottom: 50px;
}

/* Container in body */
.container {
  max-width: 750px;
}

.current-tab {
  font-weight: bold;
  text-decoration: underline;
}

/* Entire DOM */
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

/* iLambda logo */
.logo {
  width: 300px;
  height: auto;
  margin-bottom: 25px;
}

/* Main content inside of container */
.main {
  padding: 40px 15px;
  text-align: center;
}

/* Next space btw prev and next buttons */
.prev {
  margin-right: 10px;
}


/* Project Images */
.projectIMG {
  width: auto;
  height: 250px;
  margin-bottom: 75px;
  margin-left: 10px;
}
